body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0 auto;
}
.wrapper {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 18px;
}
.container {
	width: 80%;
	margin: 0 auto;
	padding-top: 49px;
}
.logo_link {
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	padding-left: 60px;
	display: inline-block;
	color: #fff;
	font-size: 1.6rem;
	text-decoration: none;
	font-weight: bold;
}
.logo_link_bottom {
	font-size: 1rem;
}
.logo_link:hover {
	background-image: url('../img/logo-hover.png');
	color: #f26522;
	transition: .5s;
}
.contacts {
	display: inline-block;
	text-align: end;
}
.contacts a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: space-between;
}
.mainblock {
	padding-top: 44px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.cardwrapp {
	display: inline-block;
	width: 30%;
	padding-bottom: 60px;
}
.cardimg {
	display: inline-block;
	width: 100%;
	background-image: url('../img/shopping.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	padding-bottom: 65%;
	box-shadow: 6px 7px 12px #000, -7px 0px 12px #000, 2px -2px 1px #fff, -2px -2px 1px #fff;
	position: relative;
}
.cardimg_plate {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f26522;
	opacity: 0;
	text-align: start;
	padding: 1.5em 1.5em;
	font-size: 0.7em;
	box-sizing: border-box;
}
.cardwrapp:hover .cardimg_plate {
	opacity: 1;
	transition: all .7s;
}
.cardimg_plate_details {
	display: flex;
	justify-content: space-between;
}
.price {
	display: inline-block;
	font-size: 1.4em;
 }
.details {
	display: inline-block;
	font-size: 1.2em;
}
.cardname {
	display: inline-block;
	text-align: center;
	color: #fff;
	width: 100%;
	padding-top: 5%;
}
.cardwrapp:hover .cardname {
	color: #f26522;
	transition: all .7s;
}
.card2 {
	background-image: url('../img/sightseeng.jpg');
}
.card3 {
	background-image: url('../img/food.jpg');
}
.card4 {
	background-image: url('../img/bars.jpg');
}
.card5 {
background-image: url('../img/art.jpg');
}
.card6 {
	background-image: url('../img/walking.jpg');
}
.footer {
	font-size: 0.7em;
	text-align: center;
	padding-bottom: 1%;
}